# Hackathon: From Raw Data to ML-Ready Dataset
## Insight-Driven EDA and End-to-End Feature Engineering on Airbnb Data Using pandas and Plotly

### What is a Hackathon?

A hackathon is a fast-paced, collaborative event where participants use data and technology to solve a real problem end-to-end.  
In this hackathon, you will work with a **real-world Airbnb dataset** and complete two interconnected goals:

- Produce a **high-quality exploratory data analysis (EDA)** using `pandas` and `plotly`, extracting meaningful insights, trends, and signals from the data.  
- Design and deliver a **clean, feature-rich, ML-ready dataset** that will serve as the foundation for a follow-up hackathon focused on building and evaluating machine learning models.

Your task is to **get the most out of the data**: uncover structure and patterns through EDA, and engineer informative features (numerical, categorical, temporal, textual (TF–IDF), and optionally image-based) to maximize the predictive power of the final dataset.

<div class="alert alert-success">
<b>About the Dataset</b>

<u>Context</u>

The data comes from <a href="https://insideairbnb.com/get-the-data/">Inside Airbnb</a>, an open project that publishes detailed, regularly updated datasets for cities around the world.  
Each city provides three main CSV files:

- <b>listings.csv</b> — property characteristics, host profiles, descriptions, amenities, etc.  
- <b>calendar.csv</b> — daily availability and pricing information for each listing.  
- <b>reviews.csv</b> — guest feedback and textual reviews.

These datasets offer a rich view of the short-term rental market, including availability patterns, pricing behavior, host attributes, and guest sentiment.  

<u>Inspiration</u>

Your ultimate objective is to create a dataset suitable for training a machine learning model that predicts whether a specific Airbnb listing will be <b>available on a given date</b>, using property attributes, review information, and host characteristics.
</div>

<div class="alert alert-info">
<b>Task</b>

Using one city of your choice from Inside Airbnb, create an end-to-end pipeline that:

1. Loads and explores the raw data (EDA).  
2. Engineers features (numerical, categorical, temporal, textual TF–IDF, etc.).  
3. Builds a unified ML-ready dataset.  

Please remember to add comments explaining your decisions. Comments help us understand your thought process and ensure accurate evaluation of your work. This assignment requires code-based solutions—**manually calculated or hard-coded results will not be accepted**. Thoughtful comments and visualizations are encouraged and will be highly valued.

- Write your solution directly in this notebook, modifying it as needed.
- Once completed, submit the notebook in **.ipynb** format via Moodle.
    
<b>Collaboration Requirement: Git & GitHub</b>

You must collaborate with your team using a **shared GitHub repository**.  
Your use of Git is part of the evaluation. We will specifically look at:

- Commit quality (clear messages, meaningful steps).  
- Balanced participation across team members.  
- Use of branches.  
- Ability to resolve merge conflicts appropriately.  
- A clean, readable project history that reflects real collaboration.

Good Git practice is **part of your grade**, not optional.
</div>
<div class="alert alert-danger">
    You are free to add as many cells as you wish as long as you leave untouched the first one.
</div>

<div class="alert alert-warning">

<b>Hints</b>

- Text columns often carry substantial predictive power, use text-vectorization methods to extract meaningful features.  
- Make sure all columns use appropriate data types (categorical, numeric, datetime, boolean). Correct dtypes help prevent subtle bugs and improve performance.  
- Feel free to enrich the dataset with any additional information you consider useful: engineered features, external data, derived temporal features, etc.  
- If the dataset is too large for your computer, use <code>.sample()</code> to work with a subset while preserving the logic of your pipeline.  
- Plotly offers a wide variety of powerful visualizations, experiment creatively, but always begin with a clear analytical question: *What insight am I trying to uncover with this plot?*

</div>




<div class="alert alert-danger">
<b>Submission Deadline:</b> Wednesday, December 3rd, 12:00

Start with a simple, working pipeline.  
Do not over-complicate your code too much. Start with a simple working solution and refine it if you have time.
</div>

<div class="alert alert-danger">
    
You may add as many cells as you want, but the **first cell must remain exactly as provided**. Do not edit, move, or delete it under any circumstances.
</div>

In [16]:
# LEAVE BLANK

### Team Information

Fill in the information below.  
All fields are **mandatory**.

- **GitHub Repository URL**: Paste the link to the team repo you will use for collaboration.
- **Team Members**: List all student names (and emails or IDs if required).

Do not modify the section title.  
Do not remove this cell.

In [17]:
# === Team Information (Mandatory) ===
# Fill in the fields below.

GITHUB_REPO = "https://github.com/dacobri/Python-Hackathon---Group-A10.git"       
TEAM_MEMBERS = [
     "Aumkar Prasad Wagle ",
    "Brice Da Costa",
    "Giorgio Fiorentino",
    "Jakob Kohrgruber",
    "Georgii Runko"
]

GITHUB_REPO, TEAM_MEMBERS

('https://github.com/dacobri/Python-Hackathon---Group-A10.git',
 ['Aumkar Prasad Wagle ',
  'Brice Da Costa',
  'Giorgio Fiorentino',
  'Jakob Kohrgruber',
  'Georgii Runko'])

In [18]:
import pandas as pd

# URLs
url_listings = "https://data.insideairbnb.com/spain/catalonia/barcelona/2025-09-14/data/listings.csv.gz"
url_calendar = "https://data.insideairbnb.com/spain/catalonia/barcelona/2025-09-14/data/calendar.csv.gz"
url_reviews = "https://data.insideairbnb.com/spain/catalonia/barcelona/2025-09-14/data/reviews.csv.gz"

# Load with pandas (handles .gz automatically)
df_listings = pd.read_csv(url_listings, compression='gzip')
df_calendar = pd.read_csv(url_calendar, compression='gzip')
df_reviews = pd.read_csv(url_reviews, compression='gzip')

# Quick check
print(df_listings.head())
print(df_calendar.head())
print(df_reviews.head())

      id                         listing_url       scrape_id last_scraped  \
0  18674  https://www.airbnb.com/rooms/18674  20250914152803   2025-09-15
1  23197  https://www.airbnb.com/rooms/23197  20250914152803   2025-09-14
2  32711  https://www.airbnb.com/rooms/32711  20250914152803   2025-09-15
3  34241  https://www.airbnb.com/rooms/34241  20250914152803   2025-09-15
4  34981  https://www.airbnb.com/rooms/34981  20250914152803   2025-09-15

        source                                               name  \
0  city scrape    Huge flat for 8 people close to Sagrada Familia
1  city scrape  Forum CCIB DeLuxe, Spacious, Large Balcony, relax
2  city scrape                   Sagrada Familia area - Còrsega 1
3  city scrape   Stylish Top Floor Apartment - Ramblas Plaza Real
4  city scrape               VIDRE HOME PLAZA REAL on LAS RAMBLAS

                                         description  \
0  110m2 apartment to rent in Barcelona. Located ...
1  Beautiful and Spacious Apartment with Large Te...
2  A lovely two bedroom apartment only 250 m from...
3  Located in close proximity to Plaza Real and L...
4  Spacious apartment for large families or group...

                               neighborhood_overview  \
0  Apartment in Barcelona located in the heart of...
1  Strategically located in the Parc del Fòrum, a...
2  What's nearby  <br />This apartment is located...
3                                                NaN
4  Located in Ciutat Vella in the Gothic Quarter,...

                                         picture_url  host_id  ...  \
0  https://a0.muscache.com/pictures/13031453/413c...    71615  ...
1  https://a0.muscache.com/pictures/miso/Hosting-...    90417  ...
2  https://a0.muscache.com/pictures/357b25e4-f414...   135703  ...
3  https://a0.muscache.com/pictures/2437facc-2fe7...    73163  ...
4  https://a0.muscache.com/pictures/c4d1723c-e479...    73163  ...

  review_scores_communication review_scores_location review_scores_value  \
0                        4.62                   4.82                4.32
1                        4.99                   4.66                4.68
2                        4.89                   4.89                4.47
3                        4.68                   4.73                4.23
4                        4.72                   4.65                4.46

                                             license instant_bookable  \
0  ESFCTU000008058000039706000000000000000HUTB-00...                t
1  ESFCTU000008106000547162000000000000000000HUTB...                f
2                                        HUTB-001722                f
3                                             Exempt                f
4  ESFCTU000008119000093652000000000000000HUTB-00...                f

  calculated_host_listings_count calculated_host_listings_count_entire_homes  \
0                             26                                          26
1                              1                                           1
2                              2                                           2
3                              3                                           3
4                              3                                           3

  calculated_host_listings_count_private_rooms  \
0                                            0
1                                            0
2                                            0
3                                            0
4                                            0

  calculated_host_listings_count_shared_rooms reviews_per_month
0                                           0              0.34
1                                           0              0.52
2                                           0              0.88
3                                           0              0.14
4                                           0              1.49

[5 rows x 79 columns]
   listing_id        date available  price  adjusted_price  minimum_nights  \
0       18674  2025-09-15         f    NaN             NaN               3
1       18674  2025-09-16         t    NaN             NaN               2
2       18674  2025-09-17         t    NaN             NaN               2
3       18674  2025-09-18         t    NaN             NaN               2
4       18674  2025-09-19         f    NaN             NaN               3

   maximum_nights
0             999
1             999
2             999
3             999
4             999
   listing_id                  id        date  reviewer_id reviewer_name  \
0      703984  415003002495917725  2021-07-26    324403082      Gabriela
1      703984  422225979748637708  2021-08-05    208472604     Abdoulaye
2      703984  428711187547685597  2021-08-14     75793287         Nikos
3      703984  435298891748897953  2021-08-23    207073569         Berta
4      703984  438894164765136324  2021-08-28    391402125         Ahmad

                                            comments
0  Excelente lugar y buena ubicación, repetiría e...
1            Very good host and always ready to help
2  Excellent place to stay and great location. Re...
3  Easy and quick communication with the host, gr...
4  Beautiful apartment in a very great neighbourh...

In [19]:
df_calendar_sample = df_calendar.sample(n=1000, random_state=42)
df_listings_sample = df_listings.sample(n=1000, random_state=42)
df_reviews_sample = df_reviews.sample(n=1000, random_state=42)

In [20]:
# 1. Rename the listing ID column in listings (df_listings)
df_listings_sample = df_listings_sample.rename(columns={'id': 'listing_id'})

# 2. Merge calendar + listings
merged_1 = df_calendar_sample.merge(df_listings_sample, on='listing_id', how='left')

# 3. Merge reviews
final_df = merged_1.merge(df_reviews_sample, on='listing_id', how='left')

# 4. Inspect the final merged dataset
final_df.info()
final_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 90 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   listing_id                                    1004 non-null   int64
 1   date_x                                        1004 non-null   object
 2   available                                     1004 non-null   object
 3   price_x                                       0 non-null      float64
 4   adjusted_price                                0 non-null      float64
 5   minimum_nights_x                              1004 non-null   int64
 6   maximum_nights_x                              1004 non-null   int64
 7   listing_url                                   45 non-null     object
 8   scrape_id                                     45 non-null     float64
 9   last_scraped                                  45 non-null     object
 10  source                                        45 non-null     object
 11  name                                          45 non-null     object
 12  description                                   43 non-null     object
 13  neighborhood_overview                         19 non-null     object
 14  picture_url                                   45 non-null     object
 15  host_id                                       45 non-null     float64
 16  host_url                                      45 non-null     object
 17  host_name                                     45 non-null     object
 18  host_since                                    45 non-null     object
 19  host_location                                 37 non-null     object
 20  host_about                                    31 non-null     object
 21  host_response_time                            33 non-null     object
 22  host_response_rate                            33 non-null     object
 23  host_acceptance_rate                          36 non-null     object
 24  host_is_superhost                             45 non-null     object
 25  host_thumbnail_url                            45 non-null     object
 26  host_picture_url                              45 non-null     object
 27  host_neighbourhood                            16 non-null     object
 28  host_listings_count                           45 non-null     float64
 29  host_total_listings_count                     45 non-null     float64
 30  host_verifications                            45 non-null     object
 31  host_has_profile_pic                          45 non-null     object
 32  host_identity_verified                        45 non-null     object
 33  neighbourhood                                 19 non-null     object
 34  neighbourhood_cleansed                        45 non-null     object
 35  neighbourhood_group_cleansed                  45 non-null     object
 36  latitude                                      45 non-null     float64
 37  longitude                                     45 non-null     float64
 38  property_type                                 45 non-null     object
 39  room_type                                     45 non-null     object
 40  accommodates                                  45 non-null     float64
 41  bathrooms                                     26 non-null     float64
 42  bathrooms_text                                45 non-null     object
 43  bedrooms                                      36 non-null     float64
 44  beds                                          26 non-null     float64
 45  amenities                                     45 non-null     object
 46  price_y                                       26 non-null     object
 47  minimum_nights_y                              45 non-null     float64
 48  maximum_nights_y                              45 non-null     float64
 49  minimum_minimum_nights                        45 non-null     float64
 50  maximum_minimum_nights                        45 non-null     float64
 51  minimum_maximum_nights                        45 non-null     float64
 52  maximum_maximum_nights                        45 non-null     float64
 53  minimum_nights_avg_ntm                        45 non-null     float64
 54  maximum_nights_avg_ntm                        45 non-null     float64
 55  calendar_updated                              0 non-null      float64
 56  has_availability                              41 non-null     object
 57  availability_30                               45 non-null     float64
 58  availability_60                               45 non-null     float64
 59  availability_90                               45 non-null     float64
 60  availability_365                              45 non-null     float64
 61  calendar_last_scraped                         45 non-null     object
 62  number_of_reviews                             45 non-null     float64
 63  number_of_reviews_ltm                         45 non-null     float64
 64  number_of_reviews_l30d                        45 non-null     float64
 65  availability_eoy                              45 non-null     float64
 66  number_of_reviews_ly                          45 non-null     float64
 67  estimated_occupancy_l365d                     45 non-null     float64
 68  estimated_revenue_l365d                       26 non-null     float64
 69  first_review                                  32 non-null     object
 70  last_review                                   32 non-null     object
 71  review_scores_rating                          32 non-null     float64
 72  review_scores_accuracy                        32 non-null     float64
 73  review_scores_cleanliness                     32 non-null     float64
 74  review_scores_checkin                         32 non-null     float64
 75  review_scores_communication                   32 non-null     float64
 76  review_scores_location                        32 non-null     float64
 77  review_scores_value                           32 non-null     float64
 78  license                                       33 non-null     object
 79  instant_bookable                              45 non-null     object
 80  calculated_host_listings_count                45 non-null     float64
 81  calculated_host_listings_count_entire_homes   45 non-null     float64
 82  calculated_host_listings_count_private_rooms  45 non-null     float64
 83  calculated_host_listings_count_shared_rooms   45 non-null     float64
 84  reviews_per_month                             32 non-null     float64
 85  id                                            44 non-null     float64
 86  date_y                                        44 non-null     object
 87  reviewer_id                                   44 non-null     float64
 88  reviewer_name                                 44 non-null     object
 89  comments                                      44 non-null     object
dtypes: float64(46), int64(3), object(41)
memory usage: 706.1+ KB

,listing_id,date_x,available,price_x,adjusted_price,minimum_nights_x,maximum_nights_x,listing_url,scrape_id,last_scraped,...,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,id,date_y,reviewer_id,reviewer_name,comments
0,833368081295949152,2025-11-13,t,NaN,NaN,3,365,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5427997,2026-07-13,f,NaN,NaN,7,1125,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1192010287930228289,2025-11-04,t,NaN,NaN,4,365,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1226721657844314323,2025-11-18,t,NaN,NaN,115,116,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,823789398926242617,2025-09-28,f,NaN,NaN,32,70,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# --- 3. Initial data audit ---

print("Shape (rows, columns):", final_df.shape)

print("\nColumn names:")
print(final_df.columns.tolist())

print("\nData types:")
print(final_df.dtypes)

print("\nPreview of the dataset:")
display(final_df.head())

print("\nMissing values per column:")
print(final_df.isna().sum().sort_values(ascending=False))

print("\nBasic descriptive statistics (numeric columns):")
display(final_df.describe().T)

Shape (rows, columns): (1004, 90)

Column names:
['listing_id', 'date_x', 'available', 'price_x', 'adjusted_price', 'minimum_nights_x', 'maximum_nights_x', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name', 'description', 'neighborhood_overview', 'picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price_y', 'minimum_nights_y', 'maximum_nights_y', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy', 'number_of_reviews_ly', 'estimated_occupancy_l365d', 'estimated_revenue_l365d', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'license', 'instant_bookable', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month', 'id', 'date_y', 'reviewer_id', 'reviewer_name', 'comments']

Data types:
listing_id          int64
date_x             object
available          object
price_x           float64
adjusted_price    float64
                   ...
id                float64
date_y             object
reviewer_id       float64
reviewer_name      object
comments           object
Length: 90, dtype: object

Preview of the dataset:

,listing_id,date_x,available,price_x,adjusted_price,minimum_nights_x,maximum_nights_x,listing_url,scrape_id,last_scraped,...,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,id,date_y,reviewer_id,reviewer_name,comments
0,833368081295949152,2025-11-13,t,NaN,NaN,3,365,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5427997,2026-07-13,f,NaN,NaN,7,1125,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1192010287930228289,2025-11-04,t,NaN,NaN,4,365,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1226721657844314323,2025-11-18,t,NaN,NaN,115,116,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,823789398926242617,2025-09-28,f,NaN,NaN,32,70,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Missing values per column:
calendar_updated      1004
price_x               1004
adjusted_price        1004
host_neighbourhood     988
neighbourhood          985
                      ...
date_x                   0
maximum_nights_x         0
minimum_nights_x         0
available                0
listing_id               0
Length: 90, dtype: int64

Basic descriptive statistics (numeric columns):

,count,mean,std,min,25%,50%,75%,max
listing_id,1004.0,6.455239e+17,5.886974e+17,3.271100e+04,3.075054e+07,7.903025e+17,1.189004e+18,1.508131e+18
price_x,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
adjusted_price,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
minimum_nights_x,1004.0,1.761056e+01,2.934399e+01,1.000000e+00,2.000000e+00,4.000000e+00,3.100000e+01,3.650000e+02
maximum_nights_x,1004.0,5.555189e+02,4.283142e+02,2.000000e+00,3.300000e+02,3.650000e+02,1.125000e+03,1.125000e+03
scrape_id,45.0,2.025091e+13,0.000000e+00,2.025091e+13,2.025091e+13,2.025091e+13,2.025091e+13,2.025091e+13
host_id,45.0,1.938263e+08,1.891578e+08,1.542510e+05,3.157659e+07,1.214951e+08,3.579465e+08,5.889317e+08
host_listings_count,45.0,1.076222e+02,2.135668e+02,1.000000e+00,1.000000e+00,1.000000e+01,7.700000e+01,9.040000e+02
host_total_listings_count,45.0,1.365111e+02,2.447168e+02,1.000000e+00,2.000000e+00,1.600000e+01,1.610000e+02,9.660000e+02
latitude,45.0,4.139380e+01,1.480159e-02,4.135871e+01,4.138265e+01,4.139287e+01,4.140269e+01,4.143930e+01
longitude,45.0,2.168517e+00,1.892129e-02,2.116052e+00,2.157510e+00,2.169310e+00,2.180220e+00,2.207004e+00
accommodates,45.0,3.222222e+00,1.769552e+00,1.000000e+00,2.000000e+00,3.000000e+00,5.000000e+00,7.000000e+00
bathrooms,26.0,1.403846e+00,6.327595e-01,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00
bedrooms,36.0,1.750000e+00,7.699722e-01,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00
beds,26.0,2.615385e+00,1.444352e+00,0.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00,6.000000e+00
minimum_nights_y,45.0,1.653333e+01,1.828014e+01,1.000000e+00,2.000000e+00,5.000000e+00,3.100000e+01,6.000000e+01
maximum_nights_y,45.0,5.536222e+02,4.504426e+02,8.000000e+00,1.800000e+02,3.650000e+02,1.125000e+03,1.125000e+03
minimum_minimum_nights,45.0,1.708889e+01,1.836600e+01,1.000000e+00,2.000000e+00,4.000000e+00,3.100000e+01,6.000000e+01
maximum_minimum_nights,45.0,1.964444e+01,2.111027e+01,1.000000e+00,3.000000e+00,5.000000e+00,3.100000e+01,8.500000e+01
minimum_maximum_nights,45.0,5.632889e+02,4.787595e+02,1.000000e+00,9.000000e+01,3.650000e+02,1.125000e+03,1.125000e+03
maximum_maximum_nights,45.0,6.878222e+02,4.622563e+02,8.000000e+00,3.300000e+02,9.990000e+02,1.125000e+03,1.125000e+03
minimum_nights_avg_ntm,45.0,1.839333e+01,1.922843e+01,1.000000e+00,2.000000e+00,4.900000e+00,3.100000e+01,6.000000e+01
maximum_nights_avg_ntm,45.0,6.154444e+02,4.470227e+02,8.000000e+00,1.800000e+02,3.650000e+02,1.125000e+03,1.125000e+03
calendar_updated,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
availability_30,45.0,4.511111e+00,6.559595e+00,0.000000e+00,0.000000e+00,1.000000e+00,6.000000e+00,2.700000e+01
availability_60,45.0,1.360000e+01,1.654251e+01,0.000000e+00,0.000000e+00,5.000000e+00,2.500000e+01,5.700000e+01
availability_90,45.0,2.617778e+01,2.892725e+01,0.000000e+00,0.000000e+00,1.600000e+01,5.100000e+01,8.700000e+01
availability_365,45.0,1.263556e+02,1.188221e+02,0.000000e+00,0.000000e+00,8.700000e+01,2.340000e+02,3.440000e+02
number_of_reviews,45.0,5.455556e+01,8.679536e+01,0.000000e+00,0.000000e+00,1.100000e+01,6.800000e+01,3.570000e+02
number_of_reviews_ltm,45.0,1.406667e+01,2.270803e+01,0.000000e+00,0.000000e+00,2.000000e+00,2.300000e+01,8.800000e+01
number_of_reviews_l30d,45.0,6.444444e-01,1.367738e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,7.000000e+00
availability_eoy,45.0,3.288889e+01,3.502027e+01,0.000000e+00,0.000000e+00,1.900000e+01,6.600000e+01,9.000000e+01
number_of_reviews_ly,45.0,1.102222e+01,1.770784e+01,0.000000e+00,0.000000e+00,1.000000e+00,1.500000e+01,7.500000e+01
estimated_occupancy_l365d,45.0,8.762222e+01,1.016836e+02,0.000000e+00,0.000000e+00,4.800000e+01,1.860000e+02,2.550000e+02
estimated_revenue_l365d,26.0,1.821450e+04,1.921807e+04,0.000000e+00,3.200000e+02,1.260300e+04,3.001350e+04,6.904800e+04
review_scores_rating,32.0,4.740937e+00,2.260225e-01,4.000000e+00,4.675000e+00,4.785000e+00,4.902500e+00,5.000000e+00
review_scores_accuracy,32.0,4.797813e+00,1.766304e-01,4.410000e+00,4.712500e+00,4.835000e+00,4.942500e+00,5.000000e+00
review_scores_cleanliness,32.0,4.762188e+00,1.542251e-01,4.490000e+00,4.647500e+00,4.795000e+00,4.872500e+00,5.000000e+00
review_scores_checkin,32.0,4.817188e+00,1.822305e-01,4.340000e+00,4.727500e+00,4.880000e+00,4.952500e+00,5.000000e+00
review_scores_communication,32.0,4.818437e+00,1.963721e-01,4.380000e+00,4.740000e+00,4.895000e+00,4.985000e+00,5.000000e+00
review_scores_location,32.0,4.830625e+00,1.682919e-01,4.380000e+00,4.755000e+00,4.885000e+00,4.950000e+00,5.000000e+00
review_scores_value,32.0,4.628125e+00,2.617859e-01,4.000000e+00,4.402500e+00,4.690000e+00,4.822500e+00,5.000000e+00
calculated_host_listings_count,45.0,6.951111e+01,1.317233e+02,1.000000e+00,1.000000e+00,8.000000e+00,4.800000e+01,5.140000e+02
calculated_host_listings_count_entire_homes,45.0,4.226667e+01,1.090514e+02,0.000000e+00,0.000000e+00,4.000000e+00,3.500000e+01,5.140000e+02
calculated_host_listings_count_private_rooms,45.0,2.693333e+01,8.124889e+01,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,4.170000e+02
calculated_host_listings_count_shared_rooms,45.0,3.111111e-01,1.040590e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00
reviews_per_month,32.0,1.837187e+00,1.882482e+00,7.000000e-02,2.775000e-01,1.065000e+00,2.715000e+00,6.450000e+00
id,44.0,8.012024e+17,5.121560e+17,7.223590e+07,5.522910e+17,8.995094e+17,1.260936e+18,1.491214e+18
reviewer_id,44.0,2.565155e+08,1.760994e+08,2.479737e+06,1.019373e+08,2.271278e+08,4.340321e+08,5.778681e+08

In [22]:
# --- 4. Basic summary statistics ---

# Summary statistics for numeric columns
numeric_summary = final_df.describe().T

# Summary statistics for non numeric columns
non_numeric_summary = final_df.describe(include=["object"])

print("Numeric summary statistics:")
display(numeric_summary)

print("\nNon-numeric summary statistics:")
display(non_numeric_summary)

# Check unique value counts for all categorical/object columns
print("\nUnique value counts for categorical columns:")
cat_cols = final_df.select_dtypes(include="object").columns
for col in cat_cols:
    print(f"{col}: {final_df[col].nunique()} unique values")

Numeric summary statistics:

,count,mean,std,min,25%,50%,75%,max
listing_id,1004.0,6.455239e+17,5.886974e+17,3.271100e+04,3.075054e+07,7.903025e+17,1.189004e+18,1.508131e+18
price_x,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
adjusted_price,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
minimum_nights_x,1004.0,1.761056e+01,2.934399e+01,1.000000e+00,2.000000e+00,4.000000e+00,3.100000e+01,3.650000e+02
maximum_nights_x,1004.0,5.555189e+02,4.283142e+02,2.000000e+00,3.300000e+02,3.650000e+02,1.125000e+03,1.125000e+03
scrape_id,45.0,2.025091e+13,0.000000e+00,2.025091e+13,2.025091e+13,2.025091e+13,2.025091e+13,2.025091e+13
host_id,45.0,1.938263e+08,1.891578e+08,1.542510e+05,3.157659e+07,1.214951e+08,3.579465e+08,5.889317e+08
host_listings_count,45.0,1.076222e+02,2.135668e+02,1.000000e+00,1.000000e+00,1.000000e+01,7.700000e+01,9.040000e+02
host_total_listings_count,45.0,1.365111e+02,2.447168e+02,1.000000e+00,2.000000e+00,1.600000e+01,1.610000e+02,9.660000e+02
latitude,45.0,4.139380e+01,1.480159e-02,4.135871e+01,4.138265e+01,4.139287e+01,4.140269e+01,4.143930e+01
longitude,45.0,2.168517e+00,1.892129e-02,2.116052e+00,2.157510e+00,2.169310e+00,2.180220e+00,2.207004e+00
accommodates,45.0,3.222222e+00,1.769552e+00,1.000000e+00,2.000000e+00,3.000000e+00,5.000000e+00,7.000000e+00
bathrooms,26.0,1.403846e+00,6.327595e-01,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00
bedrooms,36.0,1.750000e+00,7.699722e-01,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00
beds,26.0,2.615385e+00,1.444352e+00,0.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00,6.000000e+00
minimum_nights_y,45.0,1.653333e+01,1.828014e+01,1.000000e+00,2.000000e+00,5.000000e+00,3.100000e+01,6.000000e+01
maximum_nights_y,45.0,5.536222e+02,4.504426e+02,8.000000e+00,1.800000e+02,3.650000e+02,1.125000e+03,1.125000e+03
minimum_minimum_nights,45.0,1.708889e+01,1.836600e+01,1.000000e+00,2.000000e+00,4.000000e+00,3.100000e+01,6.000000e+01
maximum_minimum_nights,45.0,1.964444e+01,2.111027e+01,1.000000e+00,3.000000e+00,5.000000e+00,3.100000e+01,8.500000e+01
minimum_maximum_nights,45.0,5.632889e+02,4.787595e+02,1.000000e+00,9.000000e+01,3.650000e+02,1.125000e+03,1.125000e+03
maximum_maximum_nights,45.0,6.878222e+02,4.622563e+02,8.000000e+00,3.300000e+02,9.990000e+02,1.125000e+03,1.125000e+03
minimum_nights_avg_ntm,45.0,1.839333e+01,1.922843e+01,1.000000e+00,2.000000e+00,4.900000e+00,3.100000e+01,6.000000e+01
maximum_nights_avg_ntm,45.0,6.154444e+02,4.470227e+02,8.000000e+00,1.800000e+02,3.650000e+02,1.125000e+03,1.125000e+03
calendar_updated,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
availability_30,45.0,4.511111e+00,6.559595e+00,0.000000e+00,0.000000e+00,1.000000e+00,6.000000e+00,2.700000e+01
availability_60,45.0,1.360000e+01,1.654251e+01,0.000000e+00,0.000000e+00,5.000000e+00,2.500000e+01,5.700000e+01
availability_90,45.0,2.617778e+01,2.892725e+01,0.000000e+00,0.000000e+00,1.600000e+01,5.100000e+01,8.700000e+01
availability_365,45.0,1.263556e+02,1.188221e+02,0.000000e+00,0.000000e+00,8.700000e+01,2.340000e+02,3.440000e+02
number_of_reviews,45.0,5.455556e+01,8.679536e+01,0.000000e+00,0.000000e+00,1.100000e+01,6.800000e+01,3.570000e+02
number_of_reviews_ltm,45.0,1.406667e+01,2.270803e+01,0.000000e+00,0.000000e+00,2.000000e+00,2.300000e+01,8.800000e+01
number_of_reviews_l30d,45.0,6.444444e-01,1.367738e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,7.000000e+00
availability_eoy,45.0,3.288889e+01,3.502027e+01,0.000000e+00,0.000000e+00,1.900000e+01,6.600000e+01,9.000000e+01
number_of_reviews_ly,45.0,1.102222e+01,1.770784e+01,0.000000e+00,0.000000e+00,1.000000e+00,1.500000e+01,7.500000e+01
estimated_occupancy_l365d,45.0,8.762222e+01,1.016836e+02,0.000000e+00,0.000000e+00,4.800000e+01,1.860000e+02,2.550000e+02
estimated_revenue_l365d,26.0,1.821450e+04,1.921807e+04,0.000000e+00,3.200000e+02,1.260300e+04,3.001350e+04,6.904800e+04
review_scores_rating,32.0,4.740937e+00,2.260225e-01,4.000000e+00,4.675000e+00,4.785000e+00,4.902500e+00,5.000000e+00
review_scores_accuracy,32.0,4.797813e+00,1.766304e-01,4.410000e+00,4.712500e+00,4.835000e+00,4.942500e+00,5.000000e+00
review_scores_cleanliness,32.0,4.762188e+00,1.542251e-01,4.490000e+00,4.647500e+00,4.795000e+00,4.872500e+00,5.000000e+00
review_scores_checkin,32.0,4.817188e+00,1.822305e-01,4.340000e+00,4.727500e+00,4.880000e+00,4.952500e+00,5.000000e+00
review_scores_communication,32.0,4.818437e+00,1.963721e-01,4.380000e+00,4.740000e+00,4.895000e+00,4.985000e+00,5.000000e+00
review_scores_location,32.0,4.830625e+00,1.682919e-01,4.380000e+00,4.755000e+00,4.885000e+00,4.950000e+00,5.000000e+00
review_scores_value,32.0,4.628125e+00,2.617859e-01,4.000000e+00,4.402500e+00,4.690000e+00,4.822500e+00,5.000000e+00
calculated_host_listings_count,45.0,6.951111e+01,1.317233e+02,1.000000e+00,1.000000e+00,8.000000e+00,4.800000e+01,5.140000e+02
calculated_host_listings_count_entire_homes,45.0,4.226667e+01,1.090514e+02,0.000000e+00,0.000000e+00,4.000000e+00,3.500000e+01,5.140000e+02
calculated_host_listings_count_private_rooms,45.0,2.693333e+01,8.124889e+01,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,4.170000e+02
calculated_host_listings_count_shared_rooms,45.0,3.111111e-01,1.040590e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00
reviews_per_month,32.0,1.837187e+00,1.882482e+00,7.000000e-02,2.775000e-01,1.065000e+00,2.715000e+00,6.450000e+00
id,44.0,8.012024e+17,5.121560e+17,7.223590e+07,5.522910e+17,8.995094e+17,1.260936e+18,1.491214e+18
reviewer_id,44.0,2.565155e+08,1.760994e+08,2.479737e+06,1.019373e+08,2.271278e+08,4.340321e+08,5.778681e+08

Non-numeric summary statistics:

,date_x,available,listing_url,last_scraped,source,name,description,neighborhood_overview,picture_url,host_url,...,price_y,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable,date_y,reviewer_name,comments
count,1004,1004,45,45,45,45,43,19,45,45,...,26,41,45,32,32,33,45,44,44,44
unique,344,2,42,2,2,42,39,18,42,38,...,23,1,2,31,31,22,2,44,43,44
top,2026-03-01,t,https://www.airbnb.com/rooms/1379697197172209746,2025-09-15,city scrape,Cozy Single Room in Coliving near Sagrada Familia,Welcome to Room Picnic in Casa Bosque! A warm ...,"Sagrada Familia is a vibrant neighbourhood, bl...",https://a0.muscache.com/pictures/prohost-api/H...,https://www.airbnb.com/users/show/370718107,...,$171.00,t,2025-09-15,2017-01-01,2017-09-29,Exempt,f,2019-03-21,David,Marta and Cesc are the best of hosts. A very ...
freq,8,535,2,38,26,2,2,2,2,3,...,2,41,38,2,2,11,27,1,2,1

Unique value counts for categorical columns:
date_x: 344 unique values
available: 2 unique values
listing_url: 42 unique values
last_scraped: 2 unique values
source: 2 unique values
name: 42 unique values
description: 39 unique values
neighborhood_overview: 18 unique values
picture_url: 42 unique values
host_url: 38 unique values
host_name: 38 unique values
host_since: 38 unique values
host_location: 5 unique values
host_about: 25 unique values
host_response_time: 4 unique values
host_response_rate: 9 unique values
host_acceptance_rate: 16 unique values
host_is_superhost: 2 unique values
host_thumbnail_url: 38 unique values
host_picture_url: 38 unique values
host_neighbourhood: 9 unique values
host_verifications: 4 unique values
host_has_profile_pic: 2 unique values
host_identity_verified: 2 unique values
neighbourhood: 2 unique values
neighbourhood_cleansed: 24 unique values
neighbourhood_group_cleansed: 9 unique values
property_type: 10 unique values
room_type: 3 unique values
bathrooms_text: 11 unique values
amenities: 42 unique values
price_y: 23 unique values
has_availability: 1 unique values
calendar_last_scraped: 2 unique values
first_review: 31 unique values
last_review: 31 unique values
license: 22 unique values
instant_bookable: 2 unique values
date_y: 44 unique values
reviewer_name: 43 unique values
comments: 44 unique values

In [23]:
# --- 5. Data types and column cleaning ---

# Work on a copy
final_df_clean = final_df.copy()

# 5.1 Rename merge generated columns to clearer names
final_df_clean = final_df_clean.rename(
    columns={
        "date_x": "calendar_date",
        "date_y": "review_date",
        "price_x": "calendar_price",
        "price_y": "listing_price",
        "minimum_nights_x": "minimum_nights_calendar",
        "maximum_nights_x": "maximum_nights_calendar",
        "minimum_nights_y": "minimum_nights_listing",
        "maximum_nights_y": "maximum_nights_listing",
    }
)

# 5.2 Parse date columns to datetime
date_cols = [
    "calendar_date",
    "review_date",
    "last_scraped",
    "calendar_last_scraped",
    "host_since",
    "first_review",
    "last_review",
]

for col in date_cols:
    if col in final_df_clean.columns:
        final_df_clean[col] = pd.to_datetime(final_df_clean[col], errors="coerce")

# 5.3 Convert identifier columns to string so they are not used as numeric features
id_cols = ["listing_id", "host_id", "reviewer_id", "id"]

for col in id_cols:
    if col in final_df_clean.columns:
        final_df_clean[col] = (
            final_df_clean[col]
            .astype("Int64")   # keeps missing values as <NA>
            .astype("string")
        )

# 5.4 Convert stable low cardinality text columns to categorical type
object_cols = final_df_clean.select_dtypes(include="object").columns

text_like_cols = [
    "name",
    "description",
    "neighborhood_overview",
    "amenities",
    "comments",
    "listing_url",
    "picture_url",
    "host_url",
    "host_thumbnail_url",
    "host_picture_url",
]

cat_candidates = [
    col
    for col in object_cols
    if col not in text_like_cols and final_df_clean[col].nunique(dropna=True) <= 30
]

for col in cat_candidates:
    final_df_clean[col] = final_df_clean[col].astype("category")

# Quick check of updated dtypes
final_df_clean.dtypes.head(30)

listing_id                   string[python]
calendar_date                datetime64[ns]
available                          category
calendar_price                      float64
adjusted_price                      float64
minimum_nights_calendar               int64
maximum_nights_calendar               int64
listing_url                          object
scrape_id                           float64
last_scraped                 datetime64[ns]
source                             category
name                                 object
description                          object
neighborhood_overview                object
picture_url                          object
host_id                      string[python]
host_url                             object
host_name                            object
host_since                   datetime64[ns]
host_location                      category
host_about                         category
host_response_time                 category
host_response_rate                 category
host_acceptance_rate               category
host_is_superhost                  category
host_thumbnail_url                   object
host_picture_url                     object
host_neighbourhood                 category
host_listings_count                 float64
host_total_listings_count           float64
dtype: object

In [27]:
# --- 6. Missing values exploration ---

import plotly.express as px

n_rows = len(final_df_clean)

# Table with missing counts and percentages
missing_df = (
    final_df_clean.isna()
    .sum()
    .reset_index(name="missing_count")
    .rename(columns={"index": "column"})
)

missing_df["missing_pct"] = missing_df["missing_count"] / n_rows * 100
missing_df["dtype"] = missing_df["column"].map(final_df_clean.dtypes.astype(str))
missing_df = missing_df.sort_values("missing_pct", ascending=False)

print("Top 20 columns by percentage of missing values:")
display(missing_df.head(20))

# Bar chart for columns with at least some missing values (top 30)
missing_nonzero = missing_df[missing_df["missing_count"] > 0].head(30)

fig = px.bar(
    missing_nonzero,
    x="column",
    y="missing_pct",
    title="Top columns by percentage of missing values",
    labels={"missing_pct": "Missing percentage", "column": "Column"},
)
fig.update_layout(xaxis_tickangle=-45, yaxis=dict(range=[0, 100]))
fig.show()

Top 20 columns by percentage of missing values:

                         column  missing_count  missing_pct           dtype
55             calendar_updated           1004   100.000000         float64
3                calendar_price           1004   100.000000         float64
4                adjusted_price           1004   100.000000         float64
27           host_neighbourhood            988    98.406375        category
33                neighbourhood            985    98.107570        category
13        neighborhood_overview            985    98.107570          object
68      estimated_revenue_l365d            978    97.410359         float64
46                listing_price            978    97.410359        category
44                         beds            978    97.410359         float64
41                    bathrooms            978    97.410359         float64
20                   host_about            973    96.912351        category
77          review_scores_value            972    96.812749         float64
70                  last_review            972    96.812749  datetime64[ns]
74        review_scores_checkin            972    96.812749         float64
75  review_scores_communication            972    96.812749         float64
76       review_scores_location            972    96.812749         float64
73    review_scores_cleanliness            972    96.812749         float64
69                 first_review            972    96.812749  datetime64[ns]
71         review_scores_rating            972    96.812749         float64
84            reviews_per_month            972    96.812749         float64

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed